.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.page-header {
    background-color: white;
}

.title-container {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.title-container .title-item {
    display: flex;
    align-items: center;
    font-size: 3em;
    text-transform: uppercase;
}

.title-container .title-icon {
    object-fit: contain;
    width: 1.35em;
}

.title-container .title-text {
    padding-left: 0.5em;
}

.page-content {
    background-color: #FAF9F3;
    flex: 1;
    padding: 45px 0;
}