.nav-bar-container {
    position: fixed;
    width: 100vw;
}

#header-1 .nav-link a,
#header-1 .nav-link,
#header-2 .nav-link a {
    color: white;
    text-decoration: none;
}

#header-1 .dropdown-item a {
    color: black;
    text-decoration: none;
}